/* imported fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  font-size: 62.5%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button,
input {
  border: none;
}
button {
  padding: 1.5rem 3.1rem;
}

/* hero section starts here */
.hero-section {
  width: 100%;
  background: rgba(229, 84, 115, 0.1);
}
.margin-auto {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;

  gap: 6.5rem;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.hero-header {
  font-size: 5.6rem;
}
.hero-content {
  flex: 0 1 600px;
  border: 2px solid red;
}
.hero-content > p {
  color: rgba(39, 39, 39, 0.6);

  font-size: 1.8rem;

  line-height: 30px;
  margin: 2rem 0;
}
.hero-content > button {
  border-radius: 8px;

  background: rgb(229, 84, 115);
  color: white;
  font-size: 20px;
  font-weight: 700;
}

@media screen and (max-width: 992px) {
  .hero-header {
    font-size: 4rem;
  }
  .hero-content > p {
    font-size: 1.6rem;

    line-height: 26px;
    margin: 2rem 0;
  }
  .hero-content > button {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  .margin-auto {
    flex-direction: column;
    gap: 3rem;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .hero-header {
    max-width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 576px) {
  .margin-auto {
    gap: 2rem;
  }
  .hero-header {
    font-size: 2.5rem;
  }
  .hero-content > p {
    font-size: 1.4rem;

    line-height: 22px;
    margin: 1.4rem 0;
  }
  .hero-content > button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }
}
@media screen and (max-width: 375px) {
  .margin-auto {
    gap: 1.8rem;
  }
  .hero-header {
    font-size: 2rem;
  }
  .hero-content > p {
    font-size: 1.1rem;

  line-height: 1.6rem;
    margin: 0.90rem 0;
  }
  .hero-content > button {
    font-size: 1.2rem;
    padding: 0.75rem 1.5rem;
  }
}
